*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-left:60px ;
    
}

div{
    margin-left: 60px;
}

div h1{
    font-weight: 900;
    margin-bottom: 20px;
}

div p{
    margin-bottom: 20px;
}

div form{
    margin-top: 20px;
    margin-bottom: 20px;
}

div button{
    background-color: blue;
    color: white;
    padding: 12px;
}
header img{
    margin-top: 20px;
}

div li{
    list-style: none;
}
.cow{
    background-color: aqua;
    padding: 70px
}

@media only screen and ( max-width: 850px){
    
    header{
     flex-direction: column; 
    
    }
.no{
    width: 100%;
    
}

.cow{
    width: 100%;
}
}